# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/

# Django
*.log
db.sqlite3
staticfiles/

# Environment
.env

# Node / Serverless
email_service/node_modules/
email_service/.serverless/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
